/* Navbar.css */
nav {
    background: linear-gradient(135deg, #001f44, #002855); /* Gradient from dark blue to blue */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    padding: 10px 0; /* Add some padding for better spacing */
    position: fixed; /* Fix the Navbar at the top of the page */
    top: 0; /* Position at the top */
    width: 100%; /* Take up the full width of the page */
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px; /* Limit the container width */
    margin: 0 auto; /* Center the container */
    padding: 0 20px; /* Add some padding to the sides */
  }
  
  h3 {
    font-size: 24px; /* Increase the font size */
    color: #fff; /* White text color */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Add a text shadow for a luxurious look */
  }
  
  /* Add hover effect to the link */
  h3:hover {
    color: #ffca28; /* Yellow color on hover */
    transition: color 0.3s ease; /* Smooth transition effect */
  }
  
  /* Add hover effect to the link */
  Link:hover {
    text-decoration: none; /* Remove underlines on hover */
  }
  